@inherits LayoutComponentBase


<header><h1>Welcome to admin</h1></header>

<nav>
    <a href="/admin">home</a>
    <a href="/admin/users">users</a>
</nav>

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>
