@using blazor_lab.Components

<div class="side-by-side">
    <div>
        <h2>@Localizer["my_inventory"]</h2>
        <InventoryGrid Items="Items" />
    </div>
    <div>
        <h2>@Localizer["list_of_items"]</h2>
        <InventoryList Items="Items" />
    </div>
</div>