.side-by-side {
    display: flex;
    flex-direction: row;
}

.inventory-grid {
    display: flex;
    flex-direction: column;
}

.inventory-row {
    display: flex;
    flex-direction: row;
}

.inventory-slot {
    width: 64px;
    height: 64px;
    border: 1px solid;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.actions {
    border: 1px solid black;
    height: 250px;
    overflow: scroll;
}