@page "/"
@using System.Globalization;
@using Microsoft.AspNetCore.Components;
@using blazor_lab.Models
@using blazor_lab.Components

<PageTitle>Index</PageTitle>

<h1>Crafty McCraftFace</h1>

<div>
    <Crafting Items="Items" Recipes="Recipes" />
</div>

<p>
    <b>CurrentCulture</b>: @CultureInfo.CurrentCulture
</p> 